
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li  {
    margin-top: .5em;
    padding-left: 1em;
    text-indent: -1em;
}

li::before {
    content: "\2022";
    color: #FF00FF;
    font-size: x-large;
    display: inline-block;
    margin-left: 1em;
}


.text-v-middle {
    vertical-align: middle;
}

.text-spaced {
    line-height: 200%;
}

